<html>
    <head>
        <title>
            {% block title%}
            

            {%endblock%}
        </title>
    </head>

    <body>
        <h1 style="background-color: blue; color: white;text-align: center;">
            SISTE CONTROL
        <h3 style="background-color: red; color: black;text-align: center;">
            Wellcome to Siste Control Platform
        </h3>
        </h1>
        {%block content%}


        {%endblock%}        
        <p style="background-color: blue;color: white;text-align: center;"> SisteControl S.A.S</p>
    </body>
</html>